.mainDiv{
    position: fixed;
    bottom: 0;
    width: 30%;
    height: 60px;
    opacity: 0.5;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.0rem;
    text-align: center;
    border-radius: 30px;
}
.sucesso{
    background-color: rgb(0, 128, 0) !important;
}
.error{
    background-color: rgb(128, 0, 0) !important;
}
.generico{
    background-color: rgb(229, 255, 0) !important;
}
